.block {
  width: 98%;
  height: 98%;
  margin: 0 auto;
  background-color: #dc2b37;
  color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  border: 1px solid white;
}

.block.block-selection:hover {
  opacity: 0.7;
  cursor: pointer;
}

.block.block-inactive {
  opacity: 0.3;
}

.block.block-inactive:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .board.board-size {
    width: 97vw;
    height: 97vw;
  }
}
